* {
  margin-bottom: 15px;
}

.card {
  background: white;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.map-section,
.detail {
  display: flex;
  gap: 30px;
}

img {
  width: 100%;
  border-radius: 15px;
}

.btn {
  background: #981e32;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: #7d1829;
}

.outline {
  background: transparent;
  border: 2px solid #981e32;
  color: #981e32;
}

.video-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  justify-content: center;
  align-items: center;
}

.video-content {
  width: 80%;
  max-width: 800px;
}

iframe {
  width: 100%;
  height: 450px;
}

@media(max-width:768px) {
  .map-section,
  .detail {
    flex-direction: column;
  }

  .hero-overlay h1 {
    font-size: 2rem;
  }
}