/* styles for both Anni Albers layouts */

/* Laying out the first index.html file */



main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}


h1 {
    font-size: 4rem;
    text-align: center;
}


h2 {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    padding-bottom: 2rem;
    
    
}


p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 100%;
    text-align: center;
    
}

p.callout{
    font-size: 2rem;
    line-height: 2.5rem;
    font-style: italic;
    float: right;
    text-align: center;
    padding-top: 1em;
    margin-top: 0;
}


#row4 p {
    width: 50%;
    float: left;
}

#row5 p {
    width: 50%;
    float: left;      
}

#row7 p {
    width: 50%;
    float: left;
}

#row8 p {
    width: 50%;
    float: left;      
}

#row10 p {
    width: 50%;
    float: left;      
}

#row11 p {
    width: 50%;
    float: left;      
}


/* ****************************************** */
/* CSS for index 2 */
/* ****************************************** */

body#SecondLayout main {
    display: grid;
    grid-template-columns: repeat(6, auto) ;
    grid-template-rows: repeat(11, auto) ;
    grid-template-areas:
        'title title title title title title'
        '. . p1 p1 . .'
        '. . p2 p2 . .'
        'p3 p3 . . . .'
        'p4 p4 . . . .'
        '. . p5 p5 . .'
        '. . . . p6 p6'
        '. . . . p7 p7'
        'p8 p8 . . . .'
        '. p9 p9 . . .'
        '. . p10 p10 . .'
        '. . . . p11 p11'

}

#SecondLayout #titleRow { grid-area: title; }
#SecondLayout #P1 { grid-area: p1; }
#SecondLayout #P2 { grid-area: p2; }
#SecondLayout #P3 { grid-area: p3; }
#SecondLayout #P4 { grid-area: p4; }
#SecondLayout #P5 { grid-area: p5; }
#SecondLayout #P6 { grid-area: p6; }
#SecondLayout #P7 { grid-area: p7; }
#SecondLayout #P8 { grid-area: p8; }
#SecondLayout #P9 { grid-area: p9; }
#SecondLayout #P10 { grid-area: p10; }
#SecondLayout #P11 { grid-area: p11; }



















