#CL4EX h3 {
      color: rgb(255, 255, 255);                  
      background-color: rgb(248, 192, 39);        
      border-color: 4px solid rgb(55, 114, 68);      
      padding: 20px;
      width: 200px;
      text-align: center;
      font-size: large;
    }
