/* mobile first design for layout */

* {
    box-sizing: border-box;
    font-family: Helvetica

}

body {
    padding: 0;
    margin: 0;

}

header {
    width: 100vw;
    height: 100vh;

}

#RhodoPic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#RhodoTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: pink
}

#RhodoTitle h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3.5em;
    background-color: white
}

#TAB {
    


}

#AKA p {




}

@media screen and (orientation: landscape) {

#RhodoPic {
    width: 100vw;
    height: 50vh;
}

#RhodoTitle h1 {
    color: white;
    background-color: pink;
    bottom: 6.9em;
     
}
    
}

