/* mobile first design for layout */

* {
    box-sizing: border-box;
    font-family: Helvetica

}

body {
    padding: 0;
    margin: 0;
    background-color: pink;

}

header {
    width: 100vw;
    height: 100vh;

}

#RhodoPic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#RhodoTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: pink
}

#RhodoTitle h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3.5em;
    background-color: white
}


.TAB {
    width: 80vw;
    background: white;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 60px;
    padding: 10px;

}

#AKA {
    float: left;
}

#HOW {
    float: right;
    clear: both;
    
    
}

#WHERE {
    float: left;
    clear: both;
    
}

#CLIMATE {
    float: right;
    clear: both;
}

#HOW p1 {
    font-family: Helvetica;
    padding-top: 10px;
    color: black;

      
}

#HOW h2 {
    font-family: MS serif;
   
}

#CLIMATE {
}

@media screen and (orientation: landscape) {

#RhodoPic {
    width: 100vw;
    height: 50vh;
}

#RhodoTitle h1 {
    color: white;
    background-color: black;
    bottom: 42vh;
    width: 100vw;
     text-align: center;
}
    
}