/* mobile first design for layout */

* {
    box-sizing: border-box;
    font-family: Helvetica

}

body {
    padding: 0;
    margin: 0;
    background-color: pink;

}

header {
    width: 100vw;
    height: 100vh;

}

#RhodoPic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: ("Pacific\ Rhododendron\ 3\ -\ Gary\ Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#RhodoTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: pink
}

#RhodoTitle h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3.5em;
    background-color: white
}


.TAB {
    width: 80vw;
    background: white;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 60px;
    padding: 10px;
    

}

#AKA {
    float: left;
    clear: both;
}

#HOW {
    float: right;
    clear: both;
    box-shadow: -10px 5px 5px black;
    
    
}

#WHERE {
    float: left;
    clear: both;
    
}

#CLIMATE {
    float: right;
    clear: both;
    box-shadow: -10px 5px 5px black;
}

#AKA h2 {
    font-family: Georgia;
    color: black;

      
}

#HOW h2 {
    font-family: Georgia;
    color: black;
   
}

#WHERE h2 {
    font-family: Georgia;
    color: black;
}

#CLIMATE h2{
    font-family: Georgia;
    color: black;  
}


#RhodoPic {
    width: 100vw;
    height: 50vh;
}

#RhodoTitle h1 {
    color: white;
    background-color: black;
    bottom: 42vh;
    width: 100vw;
     text-align: center;
}

.TAB {
    width: 100vw;
    background: white;
    box-shadow: 0px 10px 5px black;
    margin-bottom: 60px;
    padding: 20px;
}

#HOW {
    float: right;
    clear: both;
    box-shadow: 0px 10px 5px black;
    float: left;
    clear: both;
}

#CLIMATE {
    float: right;
    clear: both;
    box-shadow: 0px 10px 5px black; 
    float: left;
    clear: both;
}



#toggleDarkMode {
   
    font-family: Helvetica, sans-serif;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 67em;
    margin-bottom: 5em;
    
}

body.darkMode {
  background: darkgray;
  color: white;
  padding: 24px;
  margin: 20px 0;
  box-shadow: -10px 5px 5px lightgray;
  border: 2px solid white;

}

body.darkMode h2 {
  color: white;
  letter-spacing: 0.04em;
}


@media screen and (orientation: landscape) 
{

    }
