/* mobile first design for layout */

* {
    box-sizing: border-box;
    font-family: Helvetica

}

body {
    padding: 0;
    margin: 0;
    background-color: pink;

}

header {
    width: 100vw;
    height: 100vh;

}

#RhodoPic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#RhodoTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: pink
}

#RhodoTitle h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3.5em;
    background-color: white
}


.TAB {
    width: 80vw;
    background: white;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 60px;
    padding: 10px;
    

}

#AKA {
    float: left;
    clear: both;
}

#HOW {
    float: right;
    clear: both;
    box-shadow: -10px 5px 5px black;
    
    
}

#WHERE {
    float: left;
    clear: both;
    
}

#CLIMATE {
    float: right;
    clear: both;
    box-shadow: -10px 5px 5px black;
}

#AKA h2 {
    font-family: Georgia;
    color: black;

      
}

#HOW h2 {
    font-family: Georgia;
    color: black;
   
}

#WHERE h2 {
    font-family: Georgia;
    color: black;
}

#CLIMATE h2{
    font-family: Georgia;
    color: black;  
}


#toggleDarkMode {
   
    font-family: Helvetica, sans-serif;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 3px;
    margin-top: 5em;
    margin-left: 67em;
    margin-bottom: 5em;
    position: relative;
   
}

.darkMode #RhodoPic {

background-image: url("Pacific\ Rhododendron\ 3\ -\ Gary\ Monroe-1.jpeg");

}

body.darkMode {
  color: white;
  background: #242424;
}


body.darkMode .TAB {
  color: white;
  background: darkgray;
  box-shadow: 0px 10px 5px pink;

}


body.darkMode #HOW {
  color: white;
  background: darkgray;
  box-shadow: 0px 10px 5px pink;

}


body.darkMode #CLIMATE {
  color: white;
  background: darkgray;
  box-shadow: 0px 10px 5px pink;

}

body.darkMode #AKA h2 {
    font-family: Georgia;
    color: white;

      
}

body.darkMode #HOW h2 {
    font-family: Georgia;
    color: white;
   
}

body.darkMode #WHERE h2 {
    font-family: Georgia;
    color: white;
}

body.darkMode #CLIMATE h2{
    font-family: Georgia;
    color: white;  
}



@media screen and (orientation: landscape) 
{



#RhodoPic {
    width: 100vw;
    height: 50vh;
}

#RhodoTitle h1 {
    color: white;
    background-color: black;
    bottom: 42vh;
    width: 100vw;
     text-align: center;
}

.TAB {
    width: 100vw;
    background: white;
    box-shadow: 0px 10px 5px black;
    margin-bottom: 60px;
    padding: 20px;
}

#HOW {
    float: right;
    clear: both;
    box-shadow: 0px 10px 5px black;
    float: left;
    clear: both;
}

#CLIMATE {
    float: right;
    clear: both;
    box-shadow: 0px 10px 5px black; 
    float: left;
    clear: both;
}


#toggleDarkMode {
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    }



}



